@import "variables";


.profile-header {
    color: $color_1;
    font-size: 24px;
    margin: 5px 0;
}

.label {
    margin: 3px 0;
    font-size: 20px;
}

.profile input{
    margin-bottom: 5px;
    width: 85%;
    text-align: center;
    height: 23px;
    font-size: 20px;
}

.save-btn {
    background: $color_2;
    height: 47px;
    width: 80%;
    margin-left: 10%;
    border: none;
    border-radius: 10px;
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 8px;
    color: $text_color;
}