$primary: #121212;
$overlay: #ffffff;
$color_1: #BB86FC;
$color_2: #13A0CF;
$text_color: rgb(255,255,255, 0.85);
$nav_text_color: rgb(255,255,255, 0.6);

$header-height: 45px;
$nav-height: 45px;
$basic_box_radius: 20px;
$filter_box_radius: 35px;
$filter_box_height: 35px;
$basic_box_radius: 20px;